# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Secrets
config.json # example
*.key
ChromeBooks.json    S3c^r3chr0m3


# Debug files
*.pdb
wps-chromebooks@woburnps.CompiledW$upp0rt
